<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Post title" %><br>
    <%= f.text_field :name, {id: "Name"}%><br>
    <%= f.text_area :content, {id: "Content"} %><br>
    <% :tags.each |tag| do %>
    <%= f.check_box tag %>
    <% end -%>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
